<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Cookies</title>
    <link rel="icon" type="image/png" th:href="@{/img/g.PNG}">
    <link rel="icon" type="image/png" th:href="@{/img/g.PNG}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <th:block th:replace="fragments/header :: head"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
    <div th:replace="fragments/header :: header"></div>
    <main class="flex-fill">
        <div class="contenedor-info-gpuhub">
            <header>
                <h1>Política de Cookies</h1>
            </header>
            <section>
                <h2>¿Qué son las cookies?</h2>
                <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas nuestro sitio web. Estas cookies nos ayudan a mejorar la experiencia de navegación y a ofrecerte contenidos relevantes.</p>

                <h2>¿Cómo usamos las cookies?</h2>
                <p>Utilizamos cookies para personalizar tu experiencia en el sitio, analizar el tráfico web y realizar pruebas de compatibilidad con tarjetas gráficas y piezas de PC.</p>

                <h2>Gestionar las cookies</h2>
                <p>Puedes configurar tu navegador para que no acepte cookies, o para que te avise cuando se esté enviando una cookie. Sin embargo, algunas funcionalidades del sitio podrían no funcionar correctamente sin ellas.</p>
            </section>
        </div>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/footer :: scripts"></div>
</body>
</html>
